<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/f149088b14.js" crossorigin="anonymous"></script>

	<title>{% block title %}{% endblock %}</title>
  </head>
  
  <body>
	<nav class="navbar navbar-expand-sm navbar-light bg-light boarder-bottom boarder-dark">
	  <a class="navbar-brand font-weight-bold" href="{{ url_for('public.home')}}">Stephen Tomaszewski</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynavbar" aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="mynavbar">
		<div class="navbar-nav ml-auto">
		  <a class="nav-link active" href="{{ url_for('public.resume_home') }}">Resume</a>
		  <a class="nav-link active" href="{{ url_for('public.projects_home') }}">Projects</a>
		</div>
		<span class="boarder-bottom boarder-dark"></span>
	  </div>
	</nav>
	
	{% block content %}{% endblock %}

	<div class="container" id="my_footer">
	  <footer class="pt-4 border-top">
		<div class="row">
		  <div class="col-12 col-md">
			<small class="d-block mb-3 text-muted">&copy; Stephen Tomaszewski 2020-2022</small>
		  </div>
		</div>
	  </footer>
	</div>
  </body>
  
</html>
