{% extends 'base.html' %}

{% block title %}Stephen Tomaszewski{% endblock %}

{% block content %}
<div class="container" id="main">
  <div class="row">
	<div class="col-12 col-md-6" id="headshot">
	  <img  src="{{ url_for('static', filename='headshot.JPG') }}" class="img-fluid rounded" alt="_me">
	</div>
	<div class="col-12 col-md-6" id="my_card">
	  <div class="col-12">
		<h1 class="text-center" id="name"><small class="text-muted">Stephen</small>Tomaszewski</h1>
	  </div>
	  <div class="col-12">
		<p class="text-center" id="job">I'm a System Engineer in Los Angeles, California</p>
	  </div>
	  <div class="col-12 text-center" id="social_btns">
		<a href="mailto:stephen.tomaszewski17@gmail.com" target="_blank">
		  <button type="button" class="btn btn-outline-dark">
			<i class="far fa-envelope"> Email</i>
		  </button>
		</a>
		<a href="https://gitlab.com/sat1017" target="_blank">
		  <button type="button" class="btn btn-outline-dark">
			<i class="fab fa-gitlab"> Gitlab</i>
		  </button>
		</a>
		<a href="https://www.linkedin.com/in/stephentomaszewski/" target="_blank">
		  <button type="button" class="btn btn-outline-dark">
			<i class="fab fa-linkedin"> LinkedIn</i>
		  </button>
		</a>
	  </div>
	</div>
	<div class="row" id="about_div">
	  <div class="col-12 col-md-6" id="about_content">
		<h2>About</h2>
		<p>I'm currently a System Engineer at <a href="https://www.blueorigin.com/" target="_blank">Blue Origin </a> in Los Angeles, working on the BE-4 engine.
			Before Blue I worked at Aerojet Rocketdyne testing the RS-25 engine for NASA's SLS.
		</p>
		<p>I studied Mechanical Engineering at The Pennsylvania State University at University Park. 
			There I was introduced to computer science through a C++ class. 
			Some personal hobbies include skiing, hiking, backpacking, soccer, volleyball, reading, and cooking.
		</p>
		<p> For a complete overview of my resume check out my LinkedIn. 
			For an in depth review of the courses and books completed during my self taught computer science journey check out the resume tab. 
			For review of projects completed along this journey check out the projects tab.
		</p>
	  </div>
	  <div class="col-12 col-md-6" id="hiking">
		<img  src="{{ url_for('static', filename='Rae_Lakes.JPG') }}" class="img-fluid rounded" alt="rae_lakes">
	  </div>
	</div>
  </div>
</div>
{% endblock %}
