{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="container" id="resume_content">
    <h4 class="mb-1">Finance Web Application | <a href="http://173.255.210.31/" target="_blank">http://173.255.210.31</a></h4>
  <p>This application is a mock financial portfolio management tool. The home page shows the daily and year to date return of multipe indices along with the S&P 500 top 10 daily gainers and top 10 daily losers. 
    Once an account is created or the user logs in, the dashboard page allows the user to deposit funds, buy and sell stocks, and tracks the performance and composition of your portfolio. 
    The search bar can be used to research companies.

    <p>It is written in Python. Stock data from Alpha Vantage API along with registered users, portfolio balances, and transactions are stored in a SQLite database. 
    The application utliizes a server-side in-memory cache to store the home page daily information. 
    Tasks are scheduled daily to update the database. Celery is used as a task queue and Redis as a message queue to accomplish this. 
    Incoming HTTP requests to my Linode server are reverse proxied by Nginx. 
    Gunicorn along with the Flask application object serve each request and return a response. 
    Docker containers are used for ease of deployment and consistency across environments.</p>

</div>
{% endblock %}
