{% extends 'base.html' %}

{% block title %}Resume{% endblock %}

{% block content %}
<div class="container" id="resume_content">
  <h4 class="mb-1">Preface</h4>
  <p>This section focuses on my computer science knowledge through books and courses. 
    I leveraged my Mechanical Engineering degree expereince and borrowed from <a href="https://teachyourselfcs.com/" target="_blank">teachyourselfcs.com <a> to develop a strong foundational knowledge.
    Check out my Gitlab for more details. <a href="https://gitlab.com/sat1017/self-learning" target="_blank"> Link</a>
  </p> 
  <p>  
    For a complete and up to date resume of my work experience please check out my LinkedIn.
  </p>
  <hr>

  <h4 class="mb-1">Programming</h4>
  <div class="row">
    <div class="col-6">
      <p>I completed Cal Berkley's Structure and Interpretation of Computer Programs <a href="https://cs61a.org/" target="_blank">(CS61A)</a> course. 
        I learned about controlling program complexity, such as functional programming, recursion, data abstraction, and object-oriented programming. </p>
      <p>Key takeaways:
        <ul class="list-group">
          <li class="list-group-item">Lectures Completed: 33</li>
          <li class="list-group-item">Homeworks Completed: 8</li>
          <li class="list-group-item">Notes Takes: 78 pages</li>
          <li class="list-group-item">Hours Spent: 200</li>
        </ul>
      </p>
    </div>
    <div class="col-6 mx-auto">
    <img src="{{url_for('static', filename='SICP.jpg')}}" class="img-fluid rounded" alt="SICP">
    </div>
  </div>

  <hr>
  
  <h4 class="mb-1">Computer Architecture</h4>
  <div class="row">
    <div class="col-6">
      <p>I read The C Programming Language book and completed most of the exercises in the book.
        I learned about types, operators, expressions, control flow, pointers, pointer arithmetic, arrays, structures, and I/O.
      </p>
      <p>Key takeaways:
        <ul class="list-group">
          <li class="list-group-item">Pages Read: 188</li>
          <li class="list-group-item">Exercises Completed: 61</li>
          <li class="list-group-item">Hours Spent: 200</li>
        </ul>
      </p>
    </div>
    <div class="col-6 mx-auto">
    <img src="{{url_for('static', filename='C_Programming_Language.jpg')}}" class="img-fluid rounded" alt="CPL">
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p>I read Computer Systems: A Programmer's Perspective. 
        I learned about the physical computer system, representing and manipulating information, machine-level representation of programs, memory hierarchy, exceptional control flow, virtual memory, system-level I/O, networking programming, and concurrent programming.</p>
      <p>Key takeaways:
        <ul class="list-group">
          <li class="list-group-item">Pages Read: 998</li>
          <li class="list-group-item">Notes Takes: 66 pages</li>
          <li class="list-group-item">Hours Spent: 200</li>
        </ul>
      </p>
    </div>
    <div class="col-6 mx-auto">
    <img src="{{url_for('static', filename='CSAPP.jpg')}}" class="img-fluid rounded" alt="CSAPP">
    </div>
  </div>

  <hr>
  
  <h4 class="mb-1">Algorithms and Data Structures</h4>
  <div class="row">
    <div class="col-6">
      <p>I completed Cal Berkley's Data Structures <a href="https://fa20.datastructur.es/" target="_blank">(CS61B)</a> course.
        I learned about Java, data structures like linked lists, BSTs, B-trees, red black trees, minimim spanning trees, sets, hash tables, heaps, queues, and tries, tree and graph traversals like Kruskal's, Prim's, and Dijkstra's shortest paths, and sorting algorithms like selection sort, quick sort, heap sort, merge sort, insertion sort, and radix sort.
        I started with the Algorithm Design Manual but found it too theoretically heavy for a beginner.</p>
      <p>Key takeaways:
        <ul class="list-group">
          <li class="list-group-item">Lectures Completed: 31</li>
          <li class="list-group-item">Discussions Completed: 12</li>
          <li class="list-group-item">Notes Takes: 156 pages</li>
          <li class="list-group-item">Hours Spent: 300</li>
        </ul>
      </p>
    </div>
    <div class="col-6 mx-auto">
    <img src="{{url_for('static', filename='AM.jpg')}}" class="img-fluid rounded" alt="AM">
    </div>
  </div>

  <hr>
  
  <h4 class="mb-1">Distributed Systems</h4>
  <div class="row">
    <div class="col-6">
      <p>I read Designing Data-Intensive Applications. I learned about data models and query languages, storage and retrieval, encoding and evolution, replication, partitioning, transactions, consistency and consensus, and batch and stream processing.</p>
      <p>Key takeaways:
        <ul class="list-group">
          <li class="list-group-item">Pages Read: 31</li>
          <li class="list-group-item">Notes Takes: 20</li>
          <li class="list-group-item">Hours Spent: 50</li>
        </ul>
      </p>
    </div>
    <div class="col-6 mx-auto">
    <img src="{{url_for('static', filename='DDIA.jpg')}}" class="img-fluid rounded" alt="DDIA">
    </div>
  </div>
</div>

{% endblock %}
