
#headshot {
    padding-top: 15px;
    padding-bottom: 15px;
}

h1#name.text-center {
    padding-top: 20px;
    padding-bottom: 20px;
	margin-bottom: 0px;
}

p#job.text-center {
	margin-bottom: 20px;	
}

div#social_btns.col-12 {
    margin-bottom: 20px;
}
div#about_div {
	padding-left: 15px;
	padding-right: 15px;
}
div#about_content.col-12 {
	padding-top: 30px;
	padding-bottom: 15px;
}

/* div#about_content > p {
	text-indent: 15px;
} */

div#resume_content {
	padding-top: 20px;
}

/* div#resume_content > p {
	text-indent: 15px;
} */

hr {  
    border-top: 2px dashed #8c8b8b; 
} 
